{% extends 'base.html.twig' %}

{% block title %}Hello BarController!{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    {% for beer in beers %}
        <h2><a href="{{ path('beer',{id:beer.id}) }}">{{ beer.name }}</a></h2>
    {% endfor %}
{% endblock %}
